﻿
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<p> @Model.Id</p>
<p> @Model.Name </p>
<p>@Model.BasicSalary</p>
<p>@Model.DailyAllowance</p>
<p>@Model.WorkingDays</p>
<p>@Model.JoinDate</p>
<p>@Model.IsConfirmed</p>
<a href="/employees/index">Return to Employee List</a>